#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Name=Sam&Yoe Group: The Video Game (Alpha)
Comment=Build #0100
Exec=/usr/share/sygtvg-test-0100/launch/launch.sh
Icon=/usr/share/sygtvg-test-0100/launch/sygtvg.png
Terminal=true
Categories=Game
